.header-top{
	padding-top: 20px;
	padding-bottom: 5px;
	background: #fff;
}
.logo{
	width: 50%;
	float:left;
	.img{
		width: 285px;
		height: 95px;
		overflow: hidden;
		img{
			max-width: 100%;
		}
	}
}
.info{
	width: 50%;
	float:left;
	.list-action{
		display: inline-block;
		width: 100%;
		ul{
			padding-left: 0;
			float: right;
			li{
				list-style: none;
				float:left;
				margin-left: 30px;
				position: relative;
				display: flex;
				.img{
					.english{
						display: none;
					}
					img{
						margin-right: 5px;
					}
				}
				select{
					color: #6EA820;
					border: none;
					font-family: Nunito;
					font-style: normal;
					font-weight: bold;
					font-size: 16px;
					line-height: 22px;
					text-transform: uppercase;
					&:focus{
						outline: 0;
					}
					option{
						color: #6EA820;
					}
				}
				&:before{
					position: absolute;
					content: '';
					width: 1px;
					height: 12px;
					background: #C4C4C4;
					left: -15px;
					bottom: 5px;
				}
				&:first-child{
					&:before{
						display: none;
					}
				}
				a{
					font-family: Poppins-regular;
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 24px;
					color: #343434;
					&:hover{
						text-decoration: none;
					}
				}
				span{
					vertical-align: text-bottom;
					img{
						max-width: 100%;
						margin-right: 10px;
					}
				}
				.gh{
					span{
						position: relative;
						    font-family: Poppins-bold;
							font-style: normal;
							font-weight: bold;
							font-size: 16px;
							line-height: 24px;
							color: #DA6800;
							    margin-left: -5px;
							    z-index: 2;
						&:before{
							position: absolute;
							content: '';
						    width: 20px;
						    height: 20px;
						    background: #FFFFFF;
							border: 1px solid #6EA820;
						    border-radius: 50%;
						    line-height: normal;
						    text-align: center;
						    top: 2px;
						    right: -5px;
							z-index: -1;
						}
					}
				}
			}
		}
	}
	.search-form{
		float:right;
		display: flex;
	}
}
.gh{
	position: relative;
	span{
		position: absolute !important;
		top:-10px;
	}
}
.hotline{
	display: flex;
	span{
		font-family: Poppins-bold;
		font-style: normal;
		font-weight: normal;
		line-height: 123%;
		color: #DA6800;
		margin-left: 20px;
		p{
			font-size: 14px;
			&:first-child{
				font-family: Poppins-regular;
			}
		}
	}
	p{
		margin-bottom: 0;
	}
}
.form-search{
	margin-left:25px;
	form{
		position: relative;
		input{
			border: 1px solid #6EA820;
		    box-sizing: border-box;
		    width: 362px;
		    border-radius: 47px;
		    padding: 11px 0px 11px 10px;
		    &:focus{
		    	outline: 0;
		    	&::placeholder{
		    		opacity: 0;
			    }
		    }
		    &::placeholder{
		    	font-family: Poppins-regular;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 24px;
				color: #898989;
		    }
		}
		.btn-search{
			position: absolute;
		    right: 4px;
		    top: 3px;
		    background: #6EA820;
		    border-radius: 50%;
		    padding: 7px;
		}
	}
}
.header-menu{
	background: #6EA820;
}
.menu-pc{
	display: flex;
	justify-content: space-between;
	padding-left: 0;
	margin-bottom: 0;
	.active{
		&:before{
			opacity: 1;
		}
	}
	li{
		list-style: none;
		padding: 14px 0px 12px 0px;
		position: relative;
		text-align: center;
		&:hover{
			&:before{
				opacity: 1;
				transition: 0.5s;
			}
		}
		&:before{
			position: absolute;
			content: '';
			width: 100%;
			height: 2px;
			background: #fff;
			bottom: 1px;
			opacity: 0;
		}
		a{
			font-family: Poppins-regular;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 24px;
			color: #FFFFFF;
			text-transform: uppercase;
			&:hover{
				text-decoration: none;
			}
		}
	}
}
.slider-pc{
	width: 100%;
	overflow: hidden;
	.item{
		width: 100%;
		position: relative;
		&:before{
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			background: linear-gradient(90deg, rgba(245, 245, 245, 0.95) 36.49%, rgba(255, 255, 255, 0) 73.96%);
		}
		img{
			width: 100%;
		}
		.content{
			text-align: center;
			position: absolute;
			top: 50%;
		    left: 20%;
		    transform: translate(0%, -50%);
			h2{
				font-family: Salsa;
				font-style: normal;
				font-weight: normal;
				font-size: 46px;
				line-height: 56px;
				letter-spacing: 0.012em;
				color: #6EA820;
				text-transform: uppercase;
			}
			p{
				font-family: Poppins-regular;
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 128.17%;
				text-align: center;
				color: #343434;
				margin-bottom: 40px;
				width: 425px;
			}
		}
	}
	.slick-dots{
		bottom: 25px;
		li.slick-active button:before{
			font-size: 9px;
			color: #fff;
		}
		li button:before{
			font-size: 9px;
		    color: transparent;
		    -webkit-text-stroke-width: 1px;
		    -webkit-text-stroke-color: #fff;
		    opacity: 1;
		}
	}
	.slick-prev {
	    left: 17%;
	    z-index: 1;
	    &:before{
	    	display: none;
	    }
	    img{
	    	padding: 8px 11px 8px 12px;
    		background: #96a92847;
	    }
	}
	.slick-next {
	    right: 17%;
	    z-index: 1;
	    &:before{
	    	display: none;
	    }
	    img{
	    	padding: 8px 11px 8px 12px;
    		background: #96a92847;
	    }
	}
}
.btn-cc{
	font-family: Poppins-regular;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.012em;
	color: #FDFFFA;
	background: #6EA820;
	border-radius: 42px;
	padding: 13px 25px;
	&:focus{
		outline: 0;
	}
	&:hover{
		text-decoration: none;
		color: #6EA820;
		background:#fff;
		border: 1px solid #6EA820;
		transition: 0.5s;
	}
}
.title-default{
	h2{
		font-family: SVN-Caprica;
	    font-style: normal;
	    font-weight: normal;
	    font-size: 30px;
	    line-height: 128.17%;
	    text-align: center;
	    color: #58411F;
	    margin-top: 0;
	    span{
	    	position: relative;
	    	&:after{
	    		position: absolute;
	    		content: url(../img/la.png);
	    		top: -20px;
    			right: -28px;
	    	}
	    	img{
	    		max-width: 100%;
	    		position: absolute;
			    left: -45px;
			    bottom: 7px;
	    	}
	    }
	}
	.description{
		font-family: Poppins-regular;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 128.17%;
		text-align: center;
		color: #000000;
		width: 75%;
    	margin: 20px auto;
	}
}

.title-s1{
	h2{
		span{
			&:before{
				position: absolute;
	    		content: url(../img/qua.png);
	    		top: 0px;
    			left: -40px;
			}
		}
	}
}
.title-s2{
	h2{
		span{
			&:before{
				position: absolute;
	    		content: url(../img/kem.png);
	    		bottom: 0px;
    			left: -40px;
			}
		}
	}
}
.title-s3{
	h2{
		span{
			&:before{
				position: absolute;
	    		content: url(../img/cg.png);
	    		bottom: 0px;
    			left: -40px;
			}
		}
	}
}
.title-s4{
	h2{
		span{
			&:before{
				position: absolute;
	    		content: url(../img/s4.png);
	    		bottom: 0px;
    			left: -40px;
			}
		}
	}
	p{
		span{
			color: #FF5C00;
			font-size: 24px;
		}
		a{
			color: #6EA820;
			&:hover{
				text-decoration: none;
				cursor: pointer;
			}
		}
	}
}
.title-s5{
	h2{
		span{
			&:before{
				position: absolute;
	    		content: url(../img/s5.png);
	    		bottom: 0px;
    			left: -40px;
			}
		}
	}
}
.title-s6{
	h2{
		span{
			&:before{
				position: absolute;
	    		content: url(../img/s5.png);
	    		bottom: 0px;
    			left: -40px;
			}
		}
	}
}
.product-item{
	border: 1px solid #F0F0F0;
	padding: 15px;
	position: relative;
	background: #fff;
	margin-bottom: 20px;
	&:hover{
		box-shadow: 2px 2px 10px 2px #80808036;
		transition: 0.6s;
		.img{
			&:before{
				-webkit-animation: shine 1.5s;
				animation: shine 1.5s;
				left: 75%;
				transition: 1s;
			}
			img{
				transform: scale(1.1);
				transition: 0.6s;
			}
		}
		.content{
			.title-pro{
				a{
					color: #295805;
					transition: 0.6s;
				}
			}
		}
		.box{
			.gh{
				a{
					display: none;
				}
				.hover{
					display: block !important;
					transition: 0.6s;
				}
			}
		}
	}
	.img{
		width: 100%;
		height: 200px;
		text-align: center;
		position: relative;
		overflow: hidden;
		&:before{
			position: absolute;
			top: 0;
			left: -75%;
			z-index: 2;
			display: block;
			content: '';
			width: 50%;
			height: 100%;
			background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
			background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
			-webkit-transform: skewX(-25deg);
			transform: skewX(-25deg);
		}
		img{
			max-width: 100%;
			margin: auto;
			&:focus{
				outline: 0;
			}
		}
	}
	.content{
		padding-top: 10px;
		.star{
			display: flex;
			img{
				margin-right: 7px;
			}
		}
		.title-pro{
			margin-top: 10px;
			a{
				font-family: Poppins-regular;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 24px;
				color: #000000;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
				&:hover{
					text-decoration: none;
				}
				&:focus{
					outline: 0;
					text-decoration: none;
				}
			}
		}
		.box{
			margin-top: 10px;
			padding-top: 10px;
			border-top: 1px solid #F0F0F0;
			display: flex;
			justify-content: space-between;
			p{
				font-family: Poppins-bold;
				font-style: normal;
				font-weight: bold;
				font-size: 18px;
				line-height: 27px;
				letter-spacing: 0.015em;
				color: #6EA820;
				margin-bottom: 0;
				span{
					font-family: Poppins;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 21px;
					letter-spacing: 0.015em;
					color: #343434;
					margin-left: 10px;
					position: relative;
					text-decoration: line-through;
				}
			}
			.gh{
				.hover{
					display: none;
				}
			}
		}
	}
	.sale{
		position: absolute;
		top: 10px;
		right: 10px;
		span{
			font-family: Roboto;
			font-style: normal;
			font-weight: 900;
			font-size: 14px;
			line-height: 16px;
			color: #FFFFFF;
			position: absolute;
			top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
		}
	}
}
.section-products{
	padding: 45px 0px;
}
.slider-product{
	margin-top: 20px;
	.slick-prev:before, .slick-next:before{
		display: none;
	}
	.slick-dots{
		bottom: -40px;
	}
	.slick-dots li button:before{
		font-size: 9px;
	    color: transparent;
	    -webkit-text-stroke-width: 1px;
	    -webkit-text-stroke-color: #96A928;
	    opacity: 1;
	}
	.slick-dots li.slick-active button:before{
		color: #96A928;
	}
	.slick-list{
		padding: 10px 0;
	}
	.item{
		padding: 0 15px;
	}
}
.cate-nav{
	margin-top: 20px;
	.slick-prev, .slick-next{
		display: none !important;
	}
	.slick-dots{
		bottom: -40px;
	}
	.slick-dots li button:before{
		font-size: 9px;
	    color: transparent;
	    -webkit-text-stroke-width: 1px;
	    -webkit-text-stroke-color: #96A928;
	    opacity: 1;
	}
	.slick-dots li.slick-active button:before{
		color: #96A928;
	}
	.slick-list{
		margin: 0 -15px !important;
		padding: 0px !important;
	}
	.item{
		padding: 0 15px;
	}
}
.cate-for{
	width: 100%;
	.item{
		width: 100%;
		height: 300px;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.cate-for{
	.slick-prev:before, .slick-next:before{
		display: none;
	}
	.slick-prev{
		left: 0px !important;
		z-index: 1;
		top: 40%;
		img{
			background: rgba(52, 52, 52, 0.5);
    		padding: 37px 12px;
		}
	}
	.slick-next{
		right: 17px !important;
		top: 40%;
		img{
			background: rgba(52, 52, 52, 0.5);
    		padding: 37px 12px;
		}
	}
	
}
.section-new-product{
	background-image: url(../img/nen.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 45px 0px;
}
.product-grid{
	padding-right: 0 !important;
	padding-left: 0 !important;
	display: inline-block;
	.item{
		.product-item{
			&:hover{
				box-shadow: 2px 2px 10px 2px #80808036;
    			transform: translateY(-5px);
				-webkit-transition: 400ms;
			}
		}
	}
}
.poster-hp{
	.img{
		height: 740px;
		img{
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
}
.section-product-grid{
	padding: 60px 0px 70px 0px;

}

.section-countdown{
	background-image: url(../img/hot.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 60px 0px 50px 0px;
	.slider-product{
		.slick-list {
			margin: 0 -15px;
		}
	}
}
.countdown-timer {
  color: #333;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
  margin: 30px 0px 50px 0px;
  ul{
  	display: flex;
    justify-content: space-between;
    padding-left: 0;
    width: 45%;
    margin: auto;
    background: #FFFFFF;
    padding: 0 50px;
  	li{
  	   display: flex;
	   font-size: 1.5em;
	   list-style-type: none;
	   position: relative;
	    p {
		    font-family: Poppins;
			font-style: normal;
			font-weight: bold;
			font-size: 36px;
			line-height: 54px;
			color: #FF5C00;
			margin-bottom: 0;
		}
		span{
			font-family: Poppins;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 24px;
			color: #343434;
			text-transform: capitalize;
			margin-left: 5px;
			margin-top: 20px;
		}
  	}
  }
}
.section-video{
	background-image: url(../img/nen.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 56px 0px 50px 0px;
}
.post-box{
	background: #FFFFFF;
    border: 1px solid #F0F0F0;
    padding: 15px;
    &:hover{
    	border: none;
    	box-shadow: 2px 2px 10px 2px #80808036;
    	transition: 0.6s;
    	.img{
    		img{
    			transform: scale(1.1);
    			transition: 0.5s;
    		}
    	}
    	.content{
    		h5{
    			a{
    				color: #6ea820;
    				transition: 0.5s;
    			}
    		}
    	}
    }
    .img{
    	width: 100%;
    	overflow: hidden;
    	&:focus{
    		outline: 0;
    	}
    	a{
    		&:focus{
    			outline: 0;
    		}
    	}
    	img{
    		width: 100%;
    		height: 100%;
    		object-fit: cover;
    		&:focus{
	    		outline: 0;
	    	}
    	}
    }
    .content{
    	h5{
    		a{
    			font-family: Poppins-bold;
			    font-style: normal;
			    font-weight: 600;
			    font-size: 21px;
			    line-height: 128.17%;
			    color: #343434;
			    display: -webkit-box;
			    -webkit-line-clamp: 2;
			    -webkit-box-orient: vertical;
			    overflow: hidden;
			    &:hover{
			    	text-decoration: none;
			    }
			    &:focus{
			    	text-decoration: none;
			    	outline: 0;
			    }
    		}
    	}
    	.timer{
    		display: flex;
    		p{
    			position: relative;
    			color:#5A5A5A;
    			margin-right: 15px;
    			display: flex;
    			img{
    				max-width: 100%;
    				margin-right: 15px;
    				vertical-align: top;
    			}
    			&:first-child{
    				&:before{
	    				position: absolute;
	    				content: '';
	    				width: 7px;
					    height: 1px;
					    background: #5A5A5A;
					    right: -11px;
					    top: 50%;
					    transform: translate(0%, -50%);
    				}
    			}
    			span{
    				position: relative;
    				margin-right: 10px;
    				&:before{
    					position: absolute;
					    content: "";
					    width: 1px;
					    height: 15px;
					    background: #5A5A5A;
					    left: -5px;
					    top: 3px;
					    transform: rotateZ(18deg);
    				}
    				&:first-child{
    					&:before{
    						display: none;
    					}
    				}
    			}
    		}
    	}
    	.description{
    		p{
    			font-family: Poppins-regular;
			    font-style: normal;
			    font-weight: normal;
			    font-size: 16px;
			    line-height: 24px;
			    text-align: justify;
			    color: #343434;
			    display: -webkit-box;
			    -webkit-line-clamp: 4;
			    -webkit-box-orient: vertical;
			    overflow: hidden;
    		}
    	}
    	.detail{
    		&:focus{
	    		outline: 0;
	    	}
    		a{
    			font-family: Roboto-regular;
			    font-style: normal;
			    font-weight: normal;
			    font-size: 16px;
			    line-height: 19px;
			    text-align: center;
			    color: #6EA820;
			    display: flex;
			    &:focus{
		    		outline: 0;
		    	}
			    img{
			    	margin-left: 15px;
			    	margin-top: 3px;
			    }
			    &:hover{
			    	text-decoration: none;
			    	img{
			    		margin-left: 25px;
			    		transition: 0.5s;
			    	}
			    }
    		}
    	}
    }
}
.slider-post{
	display: inline-block;
	width: 100%;
	.slick-dots{
		bottom: -50px;
		li.slick-active button:before{
			font-size: 9px;
			color: #96A928;
		}
		li button:before{
			font-size: 9px;
		    color: transparent;
		    -webkit-text-stroke-width: 1px;
		    -webkit-text-stroke-color: #96A928;
		    opacity: 1;
		}
	}
	.slick-prev, .slick-prev:before {
	    display: none !important;
	}
	.slick-next, .slick-next:before {
	    display: none !important;
	}
	.slick-list{
		padding: 20px 0px;
		margin: 0 -15px;
		.slick-slide{
			&:focus{
				outline: 0;
			}
		}
	}
	.post-item{
		padding: 0 15px;
	}
}
.post-item, .post-box{
	&:focus{
		outline: 0;
	}
}
.btn-page{
	width: 100%;
    text-align: center;
    padding-top: 50px;
    .btn-post{
    	background: linear-gradient(90deg, #293D02 -18.24%, #6EA820 100%);
    	font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 16px;
		color: #FFFFFF;
		padding: 14px 51px;
    }
}
/* tab post */
.tabs-list{
	.nav-tabs{
	    text-align: center;
	     width: 35%; 
	    margin: auto;
	    display: flex;
	    justify-content: space-between;
	    border-bottom: none;
	    li{
	    	margin-bottom: 0;
	    	&:hover{
	    		background: transparent;
	    		a{
	    			&:hover{
		    			border: none;
		    			color: #58411F;
		    			background: transparent;
		    		}
		    		&:focus{
		    			outline: none;
		    		}
	    		}
	    	}
	    	a{
	    		font-family: SVN-Caprica;
				font-style: normal;
				font-weight: normal;
				font-size: 30px;
				line-height: 43px;
				color: rgba(88, 65, 31, 0.4);
				position: relative;
				padding: 0px 30px;
				border: none;
				&:after{
					position: absolute;
					content:'';
					width: 4px;
					height: 28px;
					background: #58411F;
					transform: rotateZ(23deg);
					right: 0px;
					top: 6px;
				}
				&:hover{
					border: none;
					color: #58411F;
					background: transparent;
				}
				&:focus{
					outline: none;
				}
	    	}
	    	&:first-child{
	    		a{
	    			position: relative;
	    			&:before{
		    			position: absolute;
		    			content: url(../img/tab.png);
		    			left: -20px;
		    			bottom: 0;
		    		}
	    		}
	    	}
	    	&:last-child{
	    		a{
	    			position: relative;
	    			&:before{
		    			position: absolute;
		    			content: url(../img/la.png);
		    			top: -20px;
    					right: 0px;
		    		}
		    		&:after{
		    			display: none;
		    		}

	    		}
	    	}
	    }
	    .active{
	    	a{
	    		border: none;
	    		color: #58411F !important;
	    		&:hover{
	    			border: none;
	    			color: #58411F;
	    		}
	    		&:focus{
	    			border: none;
	    			outline: 0;
	    		}
	    	}
	    }
	}
}

.footer-pc{
	background-image: url(../img/bg-footer.png);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	padding: 10px 0px 25px 0px;
	&:before{
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		background: rgba(23, 23, 23, 0.9);
		top:0;
		left:0;
	}
}
.logo-footer{
	width: 100%;
	height: 80px;
	overflow: hidden;
	img{
		height: 100%;
		max-width: 100%;
	}
}
.list-dc{
	padding: 0;
	margin-top: 25px;
	li{
		list-style: none;
		display: flex;
		margin-bottom: 10px;
		span{
			width: 5%;
		    margin-right: 16px;
		    text-align: right;
		}
		p{
			font-family: Poppins-regular;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 21px;
			color: #FFFFFF;
		}
		a{
			margin-right: 18px;
		}
	}
}
.footer-default{
	padding-top: 35px;
	h5{
		font-family: Poppins-bold;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 21px;
		color: #FFFFFF;
		text-transform: uppercase;
	}
	.list-cate{
		padding: 0px;
		li{
			list-style: none;
			margin-bottom: 15px;
			a{
				font-family: Poppins-regular;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 21px;
				color: #FFFFFF;
				position: relative;
				padding-left: 20px;
				&:hover{
					text-decoration: none;
					&:before{
						left: 6px;
						transition: 0.6s;
					}
				}
				&:before{
					position: absolute;
					content: url(../img/list.png);
					left: 0;
					bottom: 0;
				}
			}
		}
	}
	p{
		font-family: Poppins-regular;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 24px;
		color: #FFFFFF;
	}
}
.form-footer{
	width: 100%;
	input{
		padding: 8px 0px 8px 10px;
		width: 100%;
		border-radius: 30px;
		border: none;
		&::placeholder{
			font-family: Poppins-regular;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 21px;
			color: #848484;
		}
		&:focus{
			outline: 0;
		}
	}
	span{
		position: relative;
		a{
			position: absolute;
			right: 2px;
			top: 50%;
			transform: translate(0%, -50%);
			padding: 6px;
			background: #6EA820;
			border-radius: 50%;
		}
	}
}
.video-item{
	
	.video{
		width:100%;
		height: 515px;
		iframe{
			width: 100%;
			height: 100%;
		}
	}
	.title{
		position: relative;
		.img-thumnail{
			display: inline-block;
		    width: 100%;
		    height: 100%;
		    position: relative;
		    &:before{
				position: absolute;
				content: '';
				width: 100%;
				height: 100%;
				top:0;
				left:0;
				z-index: 1;
				background: linear-gradient(0deg, #0D1300 0%, rgba(41, 61, 2, 0) 86.29%);
			}
			img{
				width: 100%;
				height:100%;
				object-fit:cover;
				z-index: 0;
			}
		}
		span{
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-50%, -50%);
			z-index: 2;
		}
		p{
			position: absolute;
			bottom: 40px;
			left: 50%;
			transform: translate(-50%, 0%);
			color: #fff;
			font-family: Poppins-regular;
			font-style: normal;
			font-weight: bold;
			font-size: 24px;
			line-height: 128.17%;
			text-align: center;
			width:100%;
			z-index: 2;
		}
	}
}
.video-item{
	position: relative;
	.title{
		position: absolute;
		top: 0;
		left:0;
		width:100%;
		height: 100%;
	}
}
.video-item-nav{
	display: flex;
	justify-content: space-between;
	.slick-center{
		.video-item-static{
			.img-thumnail{
				&:before{
					opacity: 1;
					transition: 0.5s;
				}
				.title{
					img{
						display: none;
					}
					.hover{
						display: block !important;
					}
				}
			}
		}
	}
	.slick-list{
		margin: 0 -15px !important;
	}
}
.video-item-static{
	    padding: 15px;
	.img-thumnail{
		width:100%;
		height: 180px;
		position: relative;
		&:before{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			background: rgba(255, 255, 255, 0.7);
			left: 0;
			content: '';
			opacity: 0;
		}
		img{
			width: 100%;
			height:100%;
			object-fit: cover;
		}
		.title{
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-50%, -50%);
			img{
				max-width: 100%;
			}
			.hover{
				display: none;
			}
		}
	}
	p{
		margin-top: 12px;
		a{
			font-family: Poppins-regular;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 128.17%;
			text-align: justify;
			color: #343434;
			&:hover{
				text-decoration: none;
			}
		}
	}
}

/*animation*/
.circle {
  border-radius:50%;
  transition: height .25s ease, width .25s ease;
  transform:translate(-50%,-50%);
  z-index: 6;
    
    &:before{
      content:'';
      display:block;
      position:absolute;
      top:0px;
      right:0px;
      bottom:0;
      left:0px;
      border-radius:50%;
      border:1px solid #ffffff50; 
      background: #ffffff30;
    }
    &:after {
      content:'';
      display:block;
      position:absolute;
      top:0; right:0; bottom:0; left:0;
      border-radius:50%;
      border:1px solid #ffffff50; 
      background: #ffffff30;
    }
    
    &:before {
        animation: ripple 2.5s linear infinite;
    }
    
    &:after {
        animation: ripple 2s linear 1s infinite;
    }
}
.video-item-nav .slick-center{
	.circle {
		border-radius:50%;
		background-color:#EC8C1D;
		transition: height .25s ease, width .25s ease;
		transform:translate(-50%,-50%);
		z-index: 6;

		&:before{
			content:'';
			display:block;
			position:absolute;
			top:0px;
			right:0px;
			bottom:0;
			left:0px;
			border-radius:50%;
			border:1px solid #6ea82050; 
			background: #6ea82030;
		}
		&:after {
			content:'';
			display:block;
			position:absolute;
			top:0; right:0; bottom:0; left:0;
			border-radius:50%;
			border:1px solid #6ea82050; 
			background: #6ea82030;
		}

		&:before {
			animation: ripple 2.5s linear infinite;
		}

		&:after {
			animation: ripple 2s linear 1s infinite;
		}
	}
}

@keyframes ripple{
  0% {transform:scale(1); }
  75% {transform:scale(1.5); opacity:1;}
  100% {transform:scale(2.25); opacity:0;}
}
/*animation*/

.video-for, .video-nav{
	.slick-prev:before, .slick-next:before{
		display: none;
	}
	.slick-next{
		right: 17px;
		img{
			background: rgba(52, 52, 52, 0.5);
    		padding: 37px 11px 37px 13px;
		}
	}
	.slick-prev{
		left: 0px;
		z-index: 2;
		img{
			background: rgba(52, 52, 52, 0.5);
    		padding: 37px 11px 37px 13px;
		}
	}
}
.video-nav{
	.slick-list{
		padding: 0 !important;
	}
	.slick-dots{
		bottom: -40px;
	}
	.slick-dots li button:before{
		font-size: 9px;
	    color: transparent;
	    -webkit-text-stroke-width: 1px;
	    -webkit-text-stroke-color: #96A928;
	    opacity: 1;
	}
	.slick-dots li.slick-active button:before{
		color: #96A928;
	}
}
.section-post{
	padding: 70px 0px 60px 0px;
	.container-fluid{
		.row{
			margin-left: 0;
			margin-right: 0;
		}
	}
}
/* header mobile */
.header-mb{
	display: inline-block;
	width: 100%;
	height: 80px;
}
.logo-mb{
  width: 30%;
  overflow: hidden;
  text-align: center;
  float:left;
  height: 80px;
  position: relative;
  img{
    max-width: 86%;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translate(0, -50%);
  }
}
.right-logo-box{
	width: 70%;
	height: 80px;
	float:left;
	position: relative;
}
.bottom-mb{
	display: flex;
	justify-content: space-between;
	padding: 7px 0;
	width: 100%;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(0, -50%);
	z-index: 1;
}
.humberger-menu{
	margin-right: 15px;
	position: relative;
	width: 10%;
	img{
		position: absolute;
	    top: 50%;
	    left: 0;
	    transform: translate(0%, -50%);
	    max-width: 100%;
	}
}
.sub-menu{
	padding:15px;
	display: none;
	position: fixed;
	background-color: #365208;
	width: 100%;
    top: 69px;
    left: 0px;
    border-radius: 0 0 0 5px;
	li{
		list-style: none;
		padding: 10px 0;
    	border-top: 1px solid #fff;
    	&:first-child{
    		border-top: none;
    	}
		a{
			color: #fff;
			width:100%;
			text-align: left;
			font-family: Poppins-regular;
			font-size: 18px;
			text-transform: uppercase;
			padding-left:0;
			&:hover{
				padding-left:15px;
				transition: 0.4s;
				text-decoration: none;
				color: #64ba23;
			}
		}
	}
}
.search-mb{
	width: 76%;
	margin-left: 15px;
	input{
		width: 100% !important;
		padding: 13px 0px 10px 10px !important;
	}
	.form-search{
		margin-left: 0;
	}
	a{
		padding: 8px !important;
		img{
			max-width: 70% !important;
		}
	}
}
.ngonngu-mb{
	width: 100%;
	display: flex;
	.english{
		display: none;
	}
	.img{
		img{
			max-width: 100%;
			margin-right: 15px;
			margin-left: 15px;
		}
	}
	select{
		color: #6EA820;
	    border: none;
	    font-family: Nunito;
	    font-style: normal;
	    font-weight: bold;
	    font-size: 16px;
	    line-height: 22px;
	    text-transform: uppercase;
	    option{
	    	color: #6EA820;
	    }
	}
}
.hd-mb {
    position: fixed;
    z-index: 3;
    width: 100%;
    background: #fff;
    overflow: visible;
    top: 0;
    width: 100%;
    box-shadow: 0px 1px 8px 1px #80808047;
    border-bottom: 1px solid #6ea8204f;
}
/* header mobile */
.icon-link{
	position: fixed;
    right: 10%;
    outline: none;
    cursor: pointer;
    width: 48px;
    height: 48px;
    border: 1px solid #6EA820;
	border-radius: 50%;
    img{
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%);
    }
}
.backtotop{
    bottom: 100px;
}
.icon-1{
    bottom: 160px;
}
.icon-2{
    bottom: 220px;
}
.icon-3{
    bottom: 280px;
}
.icon-4{
    bottom: 340px;
}
.icon-box-mb{
	display: flex;
	justify-content: space-between;
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #fff;
	background: #fff;
    padding: 5px 20px;
    border-top: 1px solid #6ea820;
}
.icon-mb{
    outline: none;
    cursor: pointer;
    width: 48px;
    height: 48px;
    border: 1px solid #6EA820;
	border-radius: 50%;
	position: relative;
    img{
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%);
    }
}
.icon-box-mb .backtotop{
	bottom: 0;
}
.slider-product{
	overflow: hidden;
}
/* 2 LIST 1 */
.banner-page{
	width: 100%;
	overflow: hidden;
	position: relative;
	img{
		width: 100%;
	}
	h2{
		top: 40%;
		left: 375px;
		transform: translate(0%, -50%);
		position: absolute;
		font-family: SVN-Caprica;
		font-style: normal;
		font-weight: normal;
		font-size: 46px;
		line-height: 66px;
		letter-spacing: 0.012em;
		color: #6EA820;
		margin: 0;
	}
}
.breadcrumb-page{
	padding-top: 20px;
	padding-bottom: 25px;
}
.breadcrumb-item{
	display: flex;
	padding-left: 0;
	li{
		list-style: none;
		padding-left:15px;
		padding-right: 15px;
		position: relative;
		&:before{
			position: absolute;
			content: '';
			width: 7px;
			height: 7px;
			border-top: 2px solid #5A5A5A;
			border-right: 2px solid #5A5A5A;
			transform: rotateZ(45deg);
			right: -2px;
    		bottom: 7px;
		}
		a{
			font-family: Poppins;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 21px;
			color: #5A5A5A;
			img{
				max-width: 100%;
				margin-bottom: 2px;
			}
			&:hover{
				text-decoration: none;
			}
		}
		&:last-child{
			a{
				color: #6EA820;
			}
			&:before{
				display: none;
			}
		}
	}
}
.element-list{
	width: 100%;
	display: inline-block;
	.list-products-item{
		width: 74.36%;
		float:left;
		.description{
			width: 100%;
			margin: 20px auto;
		}
	}
	.siderbar-list{
		width: 23.08%;
		float: right;
	}
}
.product-grid-list{
	margin: 0 -15px;
}
.pagination-clean{
	width: 100%;
	display: inline-block;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 78px;
	ul{
		padding: 0;
		display: inline-block;
		li{
			list-style: none;
			float:left;
			width: 34px;
			height: 34px;
			background: #F0F0F0;
			border-radius: 50%;
			position: relative;
			margin-left: 5px;
			margin-right: 5px;
			a{
				color: #343434;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				&:hover{
					text-decoration: none;
				}
			}
			&:hover{
				background: #6EA820;
				transition: 0.6s;
				a{
					color: #fff;
				}
			}
		}
		.active-pagination{
			background: #6EA820;
			a{
				color: #fff;
			}
		}
		.active-next{
			background: #fff;
			border:1px solid #6EA820;
		}
	}
}
.cate-service{
	.title-service{
		text-align: justify;
		background: rgba(88, 65, 31, 0.15);
		padding: 11px 10px 10px 25px;
		width: 100%;
		margin-top:1px;
		margin-bottom: 1px;
		&:hover{
			background: rgb(88 65 31);
			transition: 0.4s;
			a{
				color: #fff;
				transition: 0.4s;
			}
		}
		a{

			font-family: SVN-Caprica;
		    font-style: normal;
		    font-weight: normal;
		    font-size: 24px;
		    line-height: 34px;
			color: #58411F;
			width: 100%;
			text-align: left;
			padding: 6px 12px 6px 0px;
		    &:hover{
		    	text-decoration: none;
		    }
		}
	}
	a{

			font-family: SVN-Caprica;
		    font-style: normal;
		    font-weight: normal;
		    font-size: 24px;
		    line-height: 34px;
			color: #811F18;
		    &:hover{
		    	text-decoration: none;
		    }
		}
	.active{
	    background: #58411F;
	    color: #fff;
	    position: relative;
	    a{
	    	color: #fff;
	    }
	    &:before{
	    	position: absolute;
	    	content: '';
	    	width: 7px;
	    	height: 100%;
	    	left: 0;
	    	top:0;
	    	background: #6EA820;
	    }
	    &:after{
	    	position: absolute;
	    	content: '';
	    	background: #6EA820;
	    	width: 22px;
	    	height: 22px;
	    	left: -10px;
		    top: 36%;
		    transform: rotateZ(45deg);
		    z-index: -1;
	    }
	}
}
.service-submenu{
	padding: 0;
	padding-left: 5px;
	margin: 15px 0;
	li{
		list-style: none;
		display: flex;
		position: relative;
		a{
			font-family: Poppins;
		    font-style: normal;
		    font-weight: normal;
		    font-size: 16px;
		    line-height: 24px;
		    text-align: justify;
		    color: #000000;
		    &:hover{
		    	text-decoration: none;
		    }
		}
	}
	.category-active{
		img{
			display: none;
		}
		.hover{
			display: block;
			margin-top: 6px;
		}
		a{
			color:#87B800;
		}
	}
	span{
		margin-right: 20px;
		.hover{
			display: none;
		}
		img{
			max-width: 100%;
		}
	}
}
.img-service{
	width: 100%;
	overflow: hidden;
	margin-top: 20px;
	img{
		width: 100%;
	}
}
.news-sidebar{
	.post-sb{
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
		border-bottom: 1px solid #EAEAEA;
	    padding-top: 15px;
	    padding-bottom: 15px;
	    border-radius: 5px;
	    &:hover{
	    	.img{
	    		img{
	    			transform: scale(1.1);
	    			transition: 0.6s;
	    		}
	    	}
	    	h4{
	    		a{
	    			&:hover{
				    	color: #6ea820;
	    				transition: 0.6s;
	    				text-decoration: none;
				    }
	    		}
	    	}
	    }
	   
		.img{
	    		height: 100px;
	    		width: 100px;
			overflow: hidden;
			text-align: center;
			img{
				height: 100%;
				margin:auto;
			}
		}
		.content{
			width: calc(100% - 100px);
			padding-left: 10px;
			height: 82px;
			h4{
				margin-top: 0;
				a{
					font-family: Poppins-regular;
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 24px;
					color: #343434;
					display: -webkit-box;
				    -webkit-line-clamp: 3;
				    -webkit-box-orient: vertical;
				    overflow: hidden;
				    &:hover{
				    	color: #6ea820;
	    				transition: 0.6s;
	    				text-decoration: none;
				    }
				}
			}
			p{
				font-family: Poppins-bold;
				font-style: normal;
				font-weight: bold;
				font-size: 18px;
				line-height: 27px;
				letter-spacing: 0.015em;
				color: #6EA820;
			}
		}
	}
}
.title-news-sb{
	h2{
		background: #6EA820;
		width: 100%;
		font-family: SVN-Caprica;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		line-height: 30px;
		text-align: justify;
	    padding: 10px 0;
	    text-align: center;
		color: #FFFFFF;
	}
}
.title-list{
	margin-top: 20px;
	margin-bottom: 15px;
	h2{
		font-family: SVN-Caprica;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 128.17%;
		text-align: center;
		color: #58411F;
		position: relative;
		margin: 0;
		&:before{
			position: absolute;
			content: '';
			width: 100%;
			height: 1px;
			background:#6EA820;
			top:50%;
			left:0;
			transform: translate(0,-50%);
			z-index: -2;
		}
		span{
			position: relative;
			&:after{
				position: absolute;
				content: '';
				width: 110%;
				height: 100%;
				background:#fff;
				top:50%;
				left:50%;
				transform: translate(-50%,-50%);
				z-index: -1;
			}
		}
	}
}
.post-list{
	border-bottom: 1px dashed #6EA820;
    padding-bottom: 30px;
    margin-bottom: 30px;
	p{
		font-family: Poppins-regular;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 128.17%;
		color: #343434;
	}
	.img-service{
		margin-bottom: 20px;
	}
}